body {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-bottom: 2px;
    padding: 5px;
}
button{
    background-color: wheat;
    color: aqua;
    border-radius: 5px;

}
